name: checks

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['*']

jobs:
  checks:
    runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
          with:
            fetch-depth: 0
        - uses: WillAbides/setup-go-faster@v1.7.0
          with:
            go-version: 1.17
        - run: go install mvdan.cc/gofumpt@latest
        - run: test -z $(gofumpt -l .)
        - run: go vet ./...
        - run: go build ./...
